Lenguaje de marcas/UD3_XML/Repaso/dtd/ejercicios/archivo/archivo.dtd

<!ELEMENT catalogo (producto+)>
<!ELEMENT producto (nombre, marca, descripcion, precio, comentarios)>
<!ATTLIST producto id CDATA #REQUIRED>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ATTLIST precio moneda CDATA #REQUIRED>
<!ELEMENT comentarios (comentario+)>
<!ELEMENT comentario (usuario, texto)>
<!ELEMENT usuario (#PCDATA)>
<!ELEMENT texto (#PCDATA)>