Lenguaje de marcas/UD3_XML/Repaso/dtd/ejercicios/factura/factura.dtd

<!ELEMENT factura (cliente, productos+, total)>
<!ELEMENT cliente (nombre, direccion)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT direccion (#PCDATA)>
<!ELEMENT productos (producto+)>
<!ELEMENT producto (nombre, precio, cantidad)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT cantidad (#PCDATA)>
<!ELEMENT total (#PCDATA)>