Lenguaje de marcas/UD3_XML/Repaso/dtd/ejercicios/biologia/biologia.dtd

<!ELEMENT biologia (tema+)>
<!ELEMENT tema (nombre, conceptos+)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT conceptos (concepto+)>
<!ELEMENT concepto (termino, definicion, ejemplos*)>
<!ELEMENT termino (#PCDATA)>
<!ELEMENT definicion (#PCDATA)>
<!ELEMENT ejemplos (ejemplo+)>
<!ELEMENT ejemplo (#PCDATA)>
